
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.75;
  background-color: #fcfcfc;

}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0px;
  justify-content: center;
}

body a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  transition: 0.4s;

}

body a:hover {
  color: #8e8e8e;
  text-decoration: none;
}

header {
  padding: 50px;
  max-width: 600px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-title {
  justify-content: flex-start;
  font-weight: 400;
  font-size: 60px;
  padding-top: 30px;
}

.page-subtitle {
  justify-content: flex-start;
  padding: 0px;
  font-size: 30px;

}

.page-description {
  justify-content: flex-start;
  padding: 0px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
  max-width: 1200px;
}

.gallery-item {
  margin: 10px;
  padding-bottom:10px;

}

.gallery-item .thumbnail {
  max-width: 320px;
  transition: 0.3s;
}

.gallery-item .thumbnail:hover {
    background-color:#afbed6;
    opacity:0.8;
    z-index: 100;
}

}

.about-item {
  margin: 10px;
}

.about-item .thumbnail {
  max-width: 250px;
  padding-top: 110px;


}

/* NAVIGATION */

nav {
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

nav li {
  margin: 0;
  padding: 20px;
  display: inline;
}

nav ul {
  display: inline;
}


nav a {
  height: 60px;
  line-height: 60px;
}


/* Footer */

footer {
    font-size: 12px;
    font-weight: 300;
    color: #525252;
    letter-spacing: 0.41px;
    position: relative;
    padding: 30px;
    margin-left: 30px;
}
